@font-face {
  font-family: 'iranyekan';
  src: url('/font/BYekan+.ttf');
}

:root {
  --primaryColor: #1d418d;
  --secondaryColor: #ff5e14;
}

html,
body {
  direction: rtl;
}

body * {
  font-family: 'iranyekan', sans-serif!important;
}