@font-face {
  font-family: 'iranyekan';
  src: url('/font/BYekan+.ttf');
}

:root {
  --primaryColor: #00235a;
  --secondaryColor: #ff5e14;
  --tertiaryColor: #eff0f2;

  --primaryTextColor: #001659;
  --secondaryTextColor: #565969;
  --tertiaryTextColor: #fff;
}

.primary_bg {background-color: var(--primaryColor)!important}
.primary_color {color: var(--primaryTextColor)!important}
.secondary_bg {background-color: var(--secondaryColor)!important}
.secondary_color {color: var(--secondaryTextColor)!important}
.tertiary_bg {background-color: var(--tertiaryColor)!important}
.tertiary_color {color: var(--tertiaryTextColor)!important}

body * {
  font-family: 'iranyekan', sans-serif!important;
}

.textstrokeblue {
  text-shadow: -1px -1px 0 #ffffff14, 1px -1px 0 #ffffff14, -1px 1px 0 #ffffff14, 1px 1px 0 #ffffff14;
  position: absolute;
  bottom: -10px;
}
.textstrokewhite {
  text-shadow: -1px -1px 0 #00000038, 1px -1px 0 #00000038, -1px 1px 0 #00000038, 1px 1px 0 #00000038;
  position: absolute;
  bottom: -10px;
}
.betterwordspacing {
  word-spacing: 4px!important
}

.abitoffthetop {top: 10px}
.articlessize {min-width: 30%}
.articlesinnersize {max-width: 300px}
@media (min-width: 1441px) {
  .articlesinnersize {max-width: 400px}
}

.accordions {
  border-bottom: 1px solid #a3a3a3;
}

.productsListBorder {
  border: 1px solid #00000029;
  border-bottom: 3px solid var(--secondaryColor);
}

.paragraphAtHero {width: 60%!important}

@media (max-width: 600px) {
  .paragraphAtHero {width: 100%!important}
}

.highlightIconOnHover .axg_icon {transition: all .3s}
.highlightIconOnHover:hover .axg_icon {background-color: var(--secondaryColor)}

.highlightOnlyIconOnHover .axg_icon, .highlightOnlyIconOnHover, .highlightOnlyIconOnHover .buttonText {transition: all .3s}
.highlightOnlyIconOnHover:hover {background-color: var(--secondaryColor)!important}
.highlightOnlyIconOnHover:hover .axg_icon, .highlightOnlyIconOnHover:hover .buttonText {color: var(--tertiaryTextColor)!important}

@media (min-width: 601px) {
  .searchbarsizes {width: 45%!important}
}